.about__section
	.container.spacer__wrap
		.spacer__wrap-line
	.container-fluid
		.about__inner
			.about__content.js-space_padding_left
				.about__content-header
					h2.section-title.about__title About
					.about__img.about__img-header(style='background-image: url(./images/bg-about__1.jpg)')
					p.about__paragraph Roman Shumunov is an Israeli award winning film director, screenwriter and editor. He is perhaps best known for directing his documentary film "Babylon Dreamers" as well as directing the social drama feature film "Here and Now".<br>Roman graduated Film&Television studies in Sapir Academic College and graduated with honors.
					p.about__paragraph ​In 2016, when his documentary film "Babylon dreamers" opened the Biggest International Film Festival in Israel - Docaviv, Roman Shumunov was announced as one of the most promising young directors in Israel.
					p.about__paragraph ​Roman works internationally and open with all his heart to new interesting projects.
				.about__content-footer
					a.link-moore.link-moore_color_blue(href='#') Learn more
			.about__img.about__img-footer(style='background-image: url(./images/bg-about__1.jpg)')