.breadcrumbs{
	margin: 0 0 15px;
	padding: 0;
	font-size: 0;
	color: $color_gray;
	list-style-type: none;

	&__item{
		margin: 0;
		padding: 0;
		display: inline-block;
		font-size: 13px;
		letter-spacing: .1em;
	}

	&__item + &__item:before{
		background: #888;
		width: 1px;
		height: 13px;
		margin: 0 6px;
		content: '';
		display: inline-block;
		vertical-align: middle;
	}

	&__link{
		color: #888;

		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}