#main__section.main__section
	.main__section-inner
		video(autoplay muted loop class='main__video')
			source(src='./media/video/main__video.mp4' type='video/mp4')
		.main__inner
			.container.main__inner-container
				.main__awards
					.awards-item.main__awards-item
						.awards-item__nomination AUDIENCE AWARD
						.awards-item__name.awards-item__name_color_light.awards-item__name_fs_normal Moscow International Documentary<br>FIlm Festival
						.awards-item__years 2017
					.awards-item.main__awards-item
						.awards-item__nomination BEST FEATURE FILM
						.awards-item__name.awards-item__name_color_light.awards-item__name_fs_normal Budapest International<br>Film Festival
						.awards-item__years 2018
					.awards-item.main__awards-item
						.awards-item__nomination BEST FIRST FILM
						.awards-item__name.awards-item__name_color_light.awards-item__name_fs_normal Docaviv International Documentary<br>FIlm Festival
						.awards-item__years 2018
					a.main__awards-moore and more +
				.main__content
					h1.main__title Roman Shumunov
					h2.main__position Award Winning Film Director, Screenwriter and Editor
					a(class='main__showreel js-video-button' data-video-id='q7jZ6iz3nHk')
						span.main__showreel-text watch showreel
						span.play.play_medium.main__showreel-play
	a(href='#portfolio__section').main__scroll-link
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="main__scroll-icon" x="0px" y="0px" viewBox="0 0 512.568 512.568" style="enable-background:new 0 0 512.568 512.568;" xml:space="preserve" width="512" height="512">
			<path d="M254.284,325.284c-38.598,0-70-31.402-70-70s31.402-70,70-70s70,31.402,70,70S292.882,325.284,254.284,325.284z   M254.284,225.284c-16.542,0-30,13.458-30,30s13.458,30,30,30s30-13.458,30-30S270.826,225.284,254.284,225.284z M360.427,407.426  l-28.285-28.284L255.284,456l-73.857-73.858l-28.285,28.284l102.143,102.142L360.427,407.426z M360.427,105.142L255.284,0  L152.142,103.142l28.285,28.284l74.857-74.858l76.857,76.858L360.427,105.142z"/>
		</svg>