doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
	head
		title Главная
		include assets/_metas
		include assets/_links
	body
		.site__wrap
			include ../components/header/header
			include ../components/main__section/main__section
			include ../components/portfolio__section/portfolio__section
			include ../components/about__section/about__section
			include ../components/awards__section/awards__section
			include ../components/press__section/press__section
			include ../components/footer/footer_dark
			include assets/_scripts