doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
	head
		title Press
		include assets/_metas
		include assets/_links
	body
		.site__wrap
			include ../components/header/header
			.press__video
				.container
					ul.breadcrumbs(itemscope='' itemtype='https://schema.org/BreadcrumbList')
						li.breadcrumbs__item(itemscope='' itemtype='https://schema.org/ListItem' itemprop='itemListElement')
							a.breadcrumbs__link(itemprop='itemprop')
								span(itemprop='name') Home
								meta( itemprop='position' content='0')
						li.breadcrumbs__item(itemscope='' itemtype='https://schema.org/ListItem' itemprop='itemListElement')
							span(itemprop='name') Press
							meta( itemprop='position' content='1')
					.press__video-header
						h2.page-title.page-title_mb_sm Press
						h3.subtitle.press__video-subtitle interview
				.container-fluid
					.press__video-slider
						.press__video-item
							.press__video-block
								.press__video-content.js-space_padding_left
									.press__video-text Director Roman Shumunov and producer of Babylon Dreamers Doron Tsabary interviewing on Israeli news channel WallaNews
									h4.press__video-title Interview<br>at Walla<br>news channel
								.press__video-media.js-video
									.press__video-play.js-video__btn
										span.play.play_small
									.press__video-el.js-video__link(data-video-link='tLwgk5znimI')
										<iframe width="560" height="315" src="https://www.youtube.com/embed/3et2t5T0wTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						.press__video-item
							.press__video-block
								.press__video-content.js-space_padding_left
									.press__video-text Director Roman Shumunov and producer of Babylon Dreamers Doron Tsabary interviewing on Israeli news channel WallaNews
									h4.press__video-title Interview<br>at Walla<br>news channel
								.press__video-media.js-video
									.press__video-play.js-video__btn
										span.play.play_small
									.press__video-el.js-video__link(data-video-link='tLwgk5znimI')
										<iframe width="560" height="315" src="https://www.youtube.com/embed/3et2t5T0wTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.press__video-nav.js-space_padding_left
						.press__video-control.slider-control.slider-control_theme_light
							.slider-control__arrow.slider-control__arrow_prev
								<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
									<path d="M5 1L1 5L5 9"/>
								</svg>
							.slider-control__dots
							.slider-control__arrow.slider-control__arrow_next
								<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
									<path d="M5 1L1 5L5 9"/>
								</svg>
			.press__section
				.container
					h3.subtitle.press__section-title Press
					.press__section-list
						.press__item.js-space_margin_right.js-space_margin_left
							h3.press__item-title.press__item-title_color_black.press__slider-title.js-space_padding_right.js-space_padding_left ScreenDaily Review - "Here and Now"
							time(datetime='2018-09-25' class='press__item-time js-space_padding_right js-space_padding_left') September 25, 2018
							.press__item-body
								.press__item-picture
									img(src='./images/press-1.jpg' class='press__item-img')
								.press__item-content
									.press__item-header
										.press__item-desc Hip-hop drama set in an Israeli slum is an engaging debut from Roman Shumunov
										h4.press__item-subtitle “A modest, engaging, slice-of-life film”
										.press__item-source ScreenDaily
									.press__item-footer
										a.link-moore.link-moore_color_gray(href='#') Read
						.press__item.js-space_margin_right.js-space_margin_left
							h3.press__item-title.press__item-title_color_black.press__slider-title.js-space_padding_right.js-space_padding_left Hungary Newspaper - "Babylon Dreamers"
							time(datetime='2018-09-25' class='press__item-time js-space_padding_right js-space_padding_left') March 01, 2018
							.press__item-body
								.press__item-picture
									img(src='./images/press-2.jpg' class='press__item-img')
								.press__item-content
									.press__item-header
										.press__item-desc A review of Babylon Dreamers, winner of the Budapest International Documentary Festival 2018 and interviews with actors and the director about hidden part of Israeli society and the hip hop scene in periphery.
										h4.press__item-subtitle “The Thriving Hip Hop Scene of Babylon”
										.press__item-source Hungary Newspaper
									.press__item-footer
										a.link-moore.link-moore_color_gray(href='#') Read
						.press__item.js-space_margin_right.js-space_margin_left
							h3.press__item-title.press__item-title_color_black.press__slider-title.js-space_padding_right.js-space_padding_left JERUSALEM POST - "Babylon Dreamers"
							time(datetime='2018-09-25' class='press__item-time js-space_padding_right js-space_padding_left') November 15, 2017
							.press__item-body
								.press__item-picture
									img(src='./images/press-3.jpg' class='press__item-img')
								.press__item-content
									.press__item-header
										.press__item-desc The protagonists of “Babylon Dreamers” are very much on the fringes of Israeli society. Article for award winning documentary "Babylon Dreamers" by Roman Shumunov
										h4.press__item-subtitle “The Russian underground”
										.press__item-source JERUSALEM POST
									.press__item-footer
										a.link-moore.link-moore_color_gray(href='#') Read
						.press__item.js-space_margin_right.js-space_margin_left
							h3.press__item-title.press__item-title_color_black.press__slider-title.js-space_padding_right.js-space_padding_left ISRAEL TODAY
							time(datetime='2018-09-25' class='press__item-time js-space_padding_right js-space_padding_left') August 07, 2017
							.press__item-body
								.press__item-picture
									img(src='./images/press-4.jpg' class='press__item-img')
								.press__item-content
									.press__item-header
										.press__item-desc "Babylon Dreamers' will not leave a dry eye in the audience" by Israel Today.
										.press__item-source ISRAEL TODAY
									.press__item-footer
										a.link-moore.link-moore_color_gray(href='#') Read
						.press__item.js-space_margin_right.js-space_margin_left
							h3.press__item-title.press__item-title_color_black.press__slider-title.js-space_padding_right.js-space_padding_left CITY MOUSE
							time(datetime='2018-09-25' class='press__item-time js-space_padding_right js-space_padding_left') September 07, 2016
							.press__item-body
								.press__item-picture
									img(src='./images/press-5.jpg' class='press__item-img')
								.press__item-content
									.press__item-header
										h4.press__item-subtitle “Despair seems more convenient than ever”
										.press__item-source CITY MOUSE
									.press__item-footer
										a.link-moore.link-moore_color_gray(href='#') Read
			include ../components/footer/footer_light
			include assets/_scripts