.container.spacer__wrap
	.spacer__wrap-line
header.header
	.container
		.header__inner
			a(href='/' class='logo logo__header')
				img(class='logo__img' src='./images/logo.svg')
			nav(class='nav header__nav' role='navigation')
				ul.nav__list.header__nav-list
					li.nav__item
						a(href='#' class='nav__link') About
					li.nav__item
						a(href='#' class='nav__link') Portfolio
					li.nav__item
						a(href='#' class='nav__link') Press
					li.nav__item
						a(href='#' class='nav__link') Contact
			.header__toggle
				.header__toggle-inner
					.header__toggle-line