.press__section
	.container
		h2.section-title.press__title Press
		.press__slider-wrap
			.press__slider
				.press__slider-slide
					.press__item.press__slider-item
						h3.press__item-title.press__item-title_color_blue.press__slider-title.js-space_padding_right.js-space_padding_left ScreenDaily Review - "Here and Now"
						time(datetime='2018-09-25' class='press__item-time press__slider-time js-space_padding_right js-space_padding_left') September 25, 2018
						.press__item-body
							.press__item-picture
								img(src='./images/press-1.jpg' class='press__item-img')
							.press__item-content
								.press__item-header
									.press__item-desc Hip-hop drama set in an Israeli slum is an engaging debut from Roman Shumunov
									h4.press__item-subtitle “A modest, engaging, slice-of-life film”
									.press__item-source ScreenDaily
								.press__item-footer
									a.link-moore.link-moore_color_gray(href='#') Read
				.press__slider-slide
					.press__item.press__slider-item
						h3.press__item-title.press__item-title_color_blue.press__slider-title.js-space_padding_right.js-space_padding_left ScreenDaily Review - "Here
						time(datetime='2018-09-25' class='press__item-time press__slider-time js-space_padding_right js-space_padding_left') September 25, 2018
						.press__item-body
							.press__item-picture
								img(src='./images/press-1.jpg' class='press__item-img')
							.press__item-content
								.press__item-header
									.press__item-desc In an Israeli In an Israeli In an Israeli In an Israeli In an Israeli In an Israeli In an Israeli In an Israeli In an IsraeliIn an Israeli In an Israeli In an Israeli In an Israeli In an Israeli In an Israeli
									h4.press__item-subtitle “A modest, engaging, slice-of-life film”
									.press__item-source ScreenDaily
								.press__item-footer
									a.link-moore.link-moore_color_gray(href='#') Read
			.press__section-nav
				.slider-control.slider-control_theme_dark.press__slider-control
					.slider-control__arrow.slider-control__arrow_prev
						<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
							<path d="M5 1L1 5L5 9"/>
						</svg>
					.slider-control__dots
					.slider-control__arrow.slider-control__arrow_next
						<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
							<path d="M5 1L1 5L5 9"/>
						</svg>
		a.link-moore.link-moore_color_blue(href='#') Learn more