.awards__section
	.container
		h2.section-title.awards__title Awards & Nominations
		.awards__slider-wrap
			.awards__slider
				.awards__slider-slide
					.awards__slider-block
						h3.title_level_3.awards__slider-title here and now
						ul.info.awards__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.row.awards__slider-row
							.awards__slider-el
								.awards-item
									.awards-item__nomination First prise
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small International Jerusalem<br>Film Festival Pitch Point
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination Best Music Award
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Ophir Awards,<br>Israeli Oscar
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination 3 nominations
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Israeli Academy Awards
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination Official Competition
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small 35 Jerusalem International<br>Film Festival
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination 
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Woodstock Film Festival<br>USA
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination 
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Santa Barbara International<br>Film Festival
									.awards-item__years 2019
				.awards__slider-slide
					.awards__slider-block
						h3.title_level_3.awards__slider-title here and now
						ul.info.awards__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.row.awards__slider-row
							.awards__slider-el
								.awards-item
									.awards-item__nomination Best Feature Film
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Budapest International<br>Film Festival
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination Best Feature Film
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Kiev International<br>Film Festival
									.awards-item__years 2017
							.awards__slider-el
								.awards-item
									.awards-item__nomination AUDIENCE AWARD
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Moscow International<br>Film Festival
									.awards-item__years 2017
							.awards__slider-el
								.awards-item
									.awards-item__nomination Opening Film
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small DocAviv International Documentary<br>Film Festival, Israel
									.awards-item__years 2016
							.awards__slider-el
								.awards-item
									.awards-item__nomination Best First Film Award
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Doc Aviv International Documentary<br>Film Festival - Israel
									.awards-item__years 2017
							.awards__slider-el
								.awards-item
									.awards-item__nomination Opening Film
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Galil Documentary<br>Film Festival - Israel
									.awards-item__years 2017
							.awards__slider-el
								.awards-item
									.awards-item__nomination Best First Film Award
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Israeli Documentary Awards
									.awards-item__years 2016
							.awards__slider-el
								.awards-item
									.awards-item__nomination 
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small More than 40 festivals<br>around the world
									.awards-item__years 
				.awards__slider-slide
					.awards__slider-block
						h3.title_level_3.awards__slider-title here and now
						ul.info.awards__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.row.awards__slider-row
							.awards__slider-el
								.awards-item
									.awards-item__nomination First prise
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small International Jerusalem<br>Film Festival Pitch Point
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination Best Music Award
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Ophir Awards,<br>Israeli Oscar
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination 3 nominations
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Israeli Academy Awards
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination Official Competition
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small 35 Jerusalem International<br>Film Festival
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination 
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Woodstock Film Festival<br>USA
									.awards-item__years 2018
							.awards__slider-el
								.awards-item
									.awards-item__nomination 
									.awards-item__name.awards-item__name_color_dark.awards-item__name_fs_small Santa Barbara International<br>Film Festival
									.awards-item__years 2019
		a.link-moore.link-moore_color_blue.awards__section-moore(href='#') Learn more
		.awards__section-nav
			.slider-control.slider-control_theme_dark.awards__slider-control
				.slider-control__arrow.slider-control__arrow_prev
					<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
						<path d="M5 1L1 5L5 9"/>
					</svg>
				.slider-control__dots
				.slider-control__arrow.slider-control__arrow_next
					<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
						<path d="M5 1L1 5L5 9"/>
					</svg>