#portfolio__section.portfolio__section
	.container
		h2.section-title.portfolio__section-title Portfolio
		.portfolio-slider.portfolio__section-slider
			.portfolio-item
				.portfolio-item__inner
					.portfolio-link.portfolio__slider-link
						img.portfolio-img(src='./images/portfolio.jpg')
					.portfolio-content.portfolio__slider-content
						h3.title_level_3.portfolio-title here and now
						ul.info.info_color_gray.portfolio__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.portfolio-text.portfolio__slider-text
							p.portfolio__paragraph A social drama told through the eyes of Andrey, a young immigrant living with her little sister in the slums of the city of Ashdod and struggling to assimilate into Israeli society, who forms a hip-hop band with his three best friends.<br>Surviving day to day, they devote their time to rehearsing for an audition to an upcoming international music festival. They believe that winning the musical competition will allow them to make their voices heard, to influence their harsh reality.
						a.link-moore.link-moore_color_blue.portfolio__slider-moore(href='#') View more
			.portfolio-item
				.portfolio-item__inner
					.portfolio-link.portfolio__slider-link
						img.portfolio-img(src='./images/portfolio.jpg')
					.portfolio-content.portfolio__slider-content
						h3.title_level_3.portfolio-title babylon dreamers
						ul.info.info_color_gray.portfolio__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.portfolio-text.portfolio__slider-text
							p.portfolio__paragraph A group of young dancers from Israel’s periphery, whose members are immigrants from the former Soviet Union, is trying to win the International Break-dance Championship.
						a.link-moore.link-moore_color_blue.portfolio__slider-moore(href='#') View more
			.portfolio-item
				.portfolio-item__inner
					.portfolio-link.portfolio__slider-link
						img.portfolio-img(src='./images/portfolio.jpg')
					.portfolio-content.portfolio__slider-content
						h3.title_level_3.portfolio-title here and now
						ul.info.info_color_gray.portfolio__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.portfolio-text.portfolio__slider-text
							p.portfolio__paragraph A social drama told through the eyes of Andrey, a young immigrant living with her little sister in the slums of the city of Ashdod and struggling to assimilate into Israeli society, who forms a hip-hop band with his three best friends.<br>Surviving day to day, they devote their time to rehearsing for an audition to an upcoming international music festival. They believe that winning the musical competition will allow them to make their voices heard, to influence their harsh reality.
						a.link-moore.link-moore_color_blue.portfolio__slider-moore(href='#') View more
			.portfolio-item
				.portfolio-item__inner
					.portfolio-link.portfolio__slider-link
						img.portfolio-img(src='./images/portfolio.jpg')
					.portfolio-content.portfolio__slider-content
						h3.title_level_3.portfolio-title here and now
						ul.info.info_color_gray.portfolio__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.portfolio-text.portfolio__slider-text
							p.portfolio__paragraph A social drama told through the eyes of Andrey, a young immigrant living with her little sister in the slums of the city of Ashdod and struggling to assimilate into Israeli society, who forms a hip-hop band with his three best friends.<br>Surviving day to day, they devote their time to rehearsing for an audition to an upcoming international music festival. They believe that winning the musical competition will allow them to make their voices heard, to influence their harsh reality.
						a.link-moore.link-moore_color_blue.portfolio__slider-moore(href='#') View more
			.portfolio-item
				.portfolio-item__inner
					.portfolio-link.portfolio__slider-link
						img.portfolio-img(src='./images/portfolio.jpg')
					.portfolio-content.portfolio__slider-content
						h3.title_level_3.portfolio-title here and now
						ul.info.info_color_gray.portfolio__slider-info
							li.info__item Drama
							li.info__item 90 min
							li.info__item 2018
						.portfolio-text.portfolio__slider-text
							p.portfolio__paragraph A social drama told through the eyes of Andrey, a young immigrant living with her little sister in the slums of the city of Ashdod and struggling to assimilate into Israeli society, who forms a hip-hop band with his three best friends.<br>Surviving day to day, they devote their time to rehearsing for an audition to an upcoming international music festival. They believe that winning the musical competition will allow them to make their voices heard, to influence their harsh reality.
						a.link-moore.link-moore_color_blue.portfolio__slider-moore(href='#') View more
		.portfolio__section-nav
			.slider-control.slider-control_theme_light.portfolio__slider-control
				.slider-control__arrow.slider-control__arrow_prev
					<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
						<path d="M5 1L1 5L5 9"/>
					</svg>
				.slider-control__dots
				.slider-control__arrow.slider-control__arrow_next
					<svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" class="slider-control__icon">
						<path d="M5 1L1 5L5 9"/>
					</svg>