*,
*:before,
*:after{
	box-sizing: border-box;
}

*:focus{
	outline: none;
}

.animate,
input,
button,
textarea,
select,
a{
	transition: all .4s;
}

body{
	background: #F1F1F1;
	font: normal 18px $font_accent;
	color: $color_accent;
}

body{
	// background: url(../images/proba.png) center top no-repeat;
	// background-position: center 82px;
	// height: 8000px;
}

.cbalink{display: none !important;}

a      {color: inherit;text-decoration: none;cursor: pointer;}
a:hover{text-decoration: underline;}

h1{font-size: 54px;}
h2{font-size: 42px;}
h3{font-size: 32px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h6{font-size: 16px;}

input,
button,
select,
textarea{
	font-weight: normal;
	font-family: $font_accent;
	border: none;
}

input,
button{
	margin: 0;
	padding: 0;
	appearance: none;
}

::-webkit-input-placeholder {color: #fff;}
::-moz-placeholder          {color: #fff;}
:-moz-placeholder           {color: #fff;}
:-ms-input-placeholder      {color: #fff;}

.site__wrap{
	overflow: hidden;
}

.container,
.container-fluid{
	width: 100%;
	margin: 0 auto;
}

.container{
	padding: 0 $offset_container;
}

.row{
	margin-right: -$offset_container;
	margin-left: -$offset_container;
	display: flex;
	flex-wrap: wrap;
}